body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 255, 255);
}

div {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 50px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.back {
    width: 100px;
    height: 340px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}

.first {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}


.second {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;

}

.third {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

p {
    text-align: center;
    margin-top: 40%;
    display: flex;
}
.first:hover {
    color: rgb(0, 0, 0);
    background-color:rgb(160, 254, 9);
}
.second:hover{
    color: black;
    background-color:rgb(160, 254, 9);
}
.third:hover {
    color: black;
    background-color: rgb(160, 254, 9);
} 
img {
    position: absolute;
    width: 650px;
    height: 600px;
    border: double 10px black;
    
}